﻿@model m183_projekt.Models.DashboardViewModel

@if (Model.User != null)
{
    if (ViewBag?.DeletedOnly ?? false)
    {
        <h2>Deleted Posts</h2>
    }
    else
    {
        <h2>Dashboard von @Model.User.UserName</h2>
        @Html.ActionLink("Create new post", "NewPost", "Dashboard");
    }
}
else
{
    <h2>Alle Posts</h2>
}

@{
    foreach (var post in Model.Posts)
    {
        <hr />
        <a href="/dashboard/post/@post.Id"><h3>@post.Title</h3></a>
        if (Model.ShowName)
        {
            <h4>@post.AuthorName.Split('@')[0]</h4>
        }
        <p>@post.Content</p>
    }
}