﻿@model m183_projekt.Models.CreatePostViewModel

<h2>NewPost</h2>

@using (Html.BeginForm("NewPost", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(x => x.AuthorId)
        <div>
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title)
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div>
            @Html.LabelFor(x => x.Content)
            @Html.TextAreaFor(x => x.Content)
            @Html.ValidationMessageFor(x => x.Content)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
}

