﻿@model m183_projekt.Models.PostViewModel

@if (Model.Post != null)
{
    <h2>Post von @Model.AuthorName</h2>
    <hr />
    <h3>@Model.Title</h3>
    <p>@Model.Content</p>
    <div>
        @if ((Model.IsAdmin || Model.IsOwnPost) && !Model.IsDeleted)
        {
            using (Html.BeginForm("ToggleState", "Dashboard", FormMethod.Post, new { style = "display: inline", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.PostId)
                <input type="Submit" value="@(Model.IsHidden ? "publish" : "hide")" />
            }
        }
        @if (Model.IsAdmin || (Model.IsOwnPost && !Model.IsDeleted))
        {
            using (Html.BeginForm("ToggleDeletion", "Dashboard", FormMethod.Post, new { style = "display: inline", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.PostId)
                <input type="Submit" value="@(Model.IsDeleted ? "restore" : "delete")" />
            }
            <div style="display: inline">(Currently: @(Model.IsHidden ? "hidden" : Model.IsDeleted ? "deleted" : "published"))</div>
        }
    </div>
    <hr />
    <h3>Comment Section</h3>
    foreach (var comment in Model.Comments)
    {
        <h4>@comment.AuthorName</h4>
        <p>@comment.Content</p>
        <br />
    }
    if(Model.CurrentUserId != "no_user")
    {
        using (Html.BeginForm("NewComment", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.HiddenFor(x => x.CurrentUserId)
                @Html.HiddenFor(x => x.PostId)
                <div>
                    @Html.LabelFor(x => x.NewComment)
                    @Html.TextBoxFor(x => x.NewComment)
                    @Html.ValidationMessageFor(x => x.NewComment)
                </div>
                <div>
                    <input type="Submit" value="Comment" />
                </div>
            </div>
        }
    }
}
else
{
<h2>Nothing to see here! (╯°□°)╯︵ ┻━┻</h2>
}