﻿@model m183_projekt.Models.PublishWith2FAViewModel

<h2>Publish</h2>

@if(Model.QrCodeImageUrl != null)
{
    <div>Please scan this qr-code with your google authenticator App on your device.</div>
    <img src="@Model.QrCodeImageUrl"/>
}

@using (Html.BeginForm("Publish", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(x => x.PostId)
        @Html.HiddenFor(x => x.QrCodeImageUrl)
        <div>
            @Html.LabelFor(x => x.Code2FA)
            @Html.TextBoxFor(x => x.Code2FA)
            @Html.ValidationMessageFor(x => x.Code2FA)
            @if (Model.ShowError){<span class="field-validation-error">Wrong Code, try again!</span>}
        </div>
        <div>
            <input type="submit" value="Publish" />
        </div>
    </div>
}


